.background {
    background: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 2rem;

    color: black;

}

.divider {
    width: 100px;
    height: 2px;
    background: rgb(0, 125, 160);
    border-style: 20px;
}

.container p {
    text-align: center;
    width: 80%;
    font-size: 1rem;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    color: black;
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        color: black;
    }

    50% {
        color: rgb(0, 125, 160);
    }

    100% {
        color: black;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 2rem 1rem; /* Reduce el padding */
    }

    .servicesContainer {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .divider {
        width: 80%; /* Hace el divisor más amplio en pantallas pequeñas */
    }

    .container p {
        width: 90%; /* Aumenta el ancho del párrafo */
        font-size: 0.9rem; /* Reduce el tamaño de fuente */
    }
}

/* Estilos para dispositivos muy pequeños */
@media (max-width: 480px) {
    .servicesContainer {
        margin-top: 2rem; /* Reduce el margen superior */
    }

    .service {
        gap: 5px; /* Reduce el espacio entre los elementos del servicio */
    }

    .icon {
        font-size: 1.5rem; /* Reduce el tamaño del icono */
    }
}