.container{
    display: flex;
    flex-direction: column;
    background:url('../../media/headerBG1.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85vh;

    justify-content: center;

}
.title{
    color: rgb(0, 125, 160);

    padding: 8px 0px;
    margin: 0px 130px;
}
.parragraph{ 
    color: antiquewhite;
    font-weight: bold ;
    backdrop-filter: blur(10px);

    border-radius: 30px;
    padding: 10px;
    width: 50rem;
    margin: 10px 150px;
    font-size: 1.4rem;
}

.container2{
    display: flex;
    flex-direction: column;
    background:url('../../media/headerBG2.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85vh;

    justify-content: center;
    align-items: flex-end;
}
.title2{
    color: rgb(0, 125, 160);

    padding: 8px 0px;
    margin-right: 130px;
    text-align: end;
}
.parragraph2{ 
    color: antiquewhite;
    font-weight: bold ;
    backdrop-filter: blur(10px);
    text-align: end;

    margin-right: 150px;
    border-radius: 30px;
    padding: 10px;
    width: 50rem;
    font-size: 1.4rem;
}


