.container{
    display: flex;
    flex-direction: column;
    background:url('../../media/headerBG1.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85vh;

    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin: 0;
}
.parragraph{
    margin: 50px 200px;
    font-size: 1.2rem;
}

.container2{
    display: flex;
    flex-direction: column;
    background:url('../../media/headerBG2.jpg') ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 85vh;

    justify-content: center;
    align-items: center;
}
