.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
    padding: 0rem 2rem;

}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    padding: 0.1rem;

    .logo {
        width: 60px;
        height: auto;
        border-radius: 3000px;
    }

    .logoTitle{
        color:rgb(0, 0, 0);
        font-size: 1.2rem;
        font-family:'Courier New', Courier, monospace ;
        transition: 1s;
    }
    .logoTitle:hover{
        transition: 0.2s;
        color: rgb(0, 125, 160);
    }
}

.linksContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;

    .link{
        color: black;
        font-family: var(--primary-font);
        font-weight: bold;
        transition: 1s;
    }
    .link:hover{
        color: rgb(0, 125, 160);
        transition: 0.2s;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
        padding: 1rem; /* Reduce el padding */
    }

    .logoContainer {
        margin-left: 0; /* Elimina el margen en la izquierda */
    }

    .linksContainer {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        gap: 1rem; /* Reduce el espacio entre los enlaces */
    }

    .link {
        font-size: 1rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
    }
}

/* Estilos para dispositivos muy pequeños */
@media (max-width: 480px) {
    .logoContainer {
        .logo {
            width: 50px; /* Reduce el tamaño del logo */
        }

        .logoTitle {
            font-size: 1rem; /* Reduce el tamaño de la fuente del título */
        }
    }

    .linksContainer {
        gap: 0.5rem; /* Reduce aún más el espacio entre los enlaces */
    }

    .link {
        font-size: 0.9rem; /* Reduce el tamaño de fuente en dispositivos muy pequeños */
    }
}